#####################################################################
#
#   StealthChanger Klipper Configuration
#   Printer: Voron 2.4 350mm with StealthChanger Toolchanger
#
#   This is the main configuration file. Hardware-specific settings
#   and macros are organized into separate includes below.
#
#####################################################################


#####################################################################
#   Includes
#####################################################################

# --- Hardware ---
[include config/mcu.cfg]                        # MCU serial connection
[include config/steppers.cfg]                    # X/Y/Z stepper motors & drivers
[include config/bed.cfg]                         # Heated bed, QGL, bed mesh
[include config/fans_and_leds.cfg]               # Chamber fans, LEDs, sensors

# --- Toolchanger ---
[include config/toolchanger/toolchanger.cfg]      # Core toolchanger settings
[include config/toolchanger/tool_detection.cfg]   # Endstop & crash detection
[include config/toolchanger/usermacros.cfg]       # Toolchanger user macros
[include config/toolchanger/leds.cfg]             # Stealthburner LED status macros

# --- Toolchanger External Symlinks ---
[include toolchanger-macros.cfg]
[include toolchanger-homing.cfg]
[include toolchanger-tool_detection.cfg]
[include calibrate-offsets-macros.cfg]

# --- Toolheads ---
[include config/toolheads/TH00.cfg]              # Toolhead 0 (T0)
[include config/toolheads/TH01.cfg]              # Toolhead 1 (T1)

# --- Macros ---
[include config/macros/print_start_end.cfg]       # PRINT_START / PRINT_END
[include config/macros/pause_resume_cancel.cfg]   # PAUSE / RESUME / CANCEL_PRINT
[include config/macros/filament.cfg]              # Load / unload filament macros
[include config/macros/utilities.cfg]             # Misc helper macros
[include config/macros/test_speed.cfg]            # Test speed macros

# --- Calibration ---
[include config/calibration/offsets.cfg]          # Tool offset calibration
[include config/calibration/ktamv.cfg]            # KTAMV camera alignment

# --- KAMP (Adaptive Meshing & Purging) ---
[include config/kamp/Adaptive_Meshing.cfg]
[include config/kamp/Line_Purge.cfg]

# --- Integrations ---
[include config/integrations/spoolman.cfg]        # Spoolman spool tracking
[include config/integrations/fluidd.cfg]          # Fluidd UI macros


#####################################################################
#   Printer Core Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 10000
max_z_velocity: 200
max_z_accel: 500

[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 74.0
shaper_type_y: 3hump_ei
shaper_freq_y: 76.8

[resonance_tester]
accel_chip: adxl345 TH00
probe_points:
    175,175,20


#####################################################################
#   Features & Modules
#####################################################################

[save_variables]
filename: ~/variables.cfg

[virtual_sdcard]
path: /home/stephanevdb/printer_data/gcodes
on_error_gcode:
    CANCEL_PRINT
    SET_LED LED=daylight GREEN=0 RED=1 BLUE=0

[respond]
[exclude_object]
[display_status]
[pause_resume]
[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.2

[rounded_path]
resolution: 0.2
replace_g0: False

[idle_timeout]
gcode:
    TURN_OFF_HEATERS
timeout: 43200


#####################################################################
#   Temperature Monitoring
#####################################################################

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor rpi_temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#####################################################################
#   KTAMV (Nozzle Camera Alignment)
#####################################################################

[ktamv]
nozzle_cam_url: http://localhost/webcam2/snapshot?max_delay=0
server_url: http://localhost:8085
move_speed: 30000
send_frame_to_cloud: false
detection_tolerance: 0


#####################################################################
#   Client Variables (Fluidd/Mainsail)
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True
variable_custom_park_x    : 175.0
variable_custom_park_y    : 300.0
variable_custom_park_dz   : 2.0
variable_retract          : 1.0
variable_cancel_retract   : 5.0
variable_speed_retract    : 35.0
variable_unretract        : 1.0
variable_speed_unretract  : 35.0
variable_speed_hop        : 15.0
variable_speed_move       : 100.0
variable_park_at_cancel   : True
variable_park_at_cancel_x : 175.0
variable_park_at_cancel_y : 300.0
variable_use_fw_retract   : False
variable_idle_timeout     : 0
gcode:


#####################################################################
#   KAMP Settings
#####################################################################

[gcode_macro _KAMP_Settings]
description: Adjustable settings for KAMP (Klipper Adaptive Meshing & Purging)

# General
variable_verbose_enable: True

# Adaptive Mesh
variable_mesh_margin: 0
variable_fuzz_amount: 0

# Dockable Probe (disabled)
variable_probe_dock_enable: False
variable_attach_macro: 'Attach_Probe'
variable_detach_macro: 'Dock_Probe'

# Adaptive Purge
variable_purge_height: 0.8
variable_tip_distance: 4
variable_purge_margin: 10
variable_purge_amount: 50
variable_flow_rate: 20

# Smart Park
variable_smart_park_height: 10

gcode:
    {action_respond_info(" Running the KAMP_Settings macro does nothing, it is only used for storing KAMP settings. ")}


#####################################################################
#   Filament Sensor Variables
#####################################################################

[gcode_macro _SENSOR_VARIABLES]
variable_filament_load_temp     : 235
variable_filament_unload_temp   : 210
variable_filament_load_min_temp : 190
variable_nozzle_purge_length    : 100
variable_nozzle_purge_speed     : 450
variable_unload_distance        : 120
variable_disable_autoload       : False
variable_disable_runnout        : False
variable_disable_autounload     : False
variable_enable_beep            : False
variable_park_position_x        : 230
variable_park_position_y        : 10
variable_park_lift_z            : 10
Variable_park_retraction        : 1
gcode:


#####################################################################
#   Startup
#####################################################################

[delayed_gcode setfanspeed]
initial_duration: 1
gcode:
    SET_LED LED=daylight GREEN=1 RED=1 BLUE=1


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.749
#*# pid_ki = 2.506
#*# pid_kd = 288.229
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.041250, -0.062500, -0.147500
#*# 	  0.035625, -0.008125, -0.110625
#*# 	  0.037500, -0.016875, -0.120000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 125.0
#*# max_x = 225.0
#*# min_y = 125.0
#*# max_y = 225.0
#*#
#*# [tool_probe_endstop]
#*# z_offset = -0.710
