#####################################################################
#   Toolchanger Core Configuration
#####################################################################
# Original written by Viesturs Zarins
# Modified by Justin F. Hallett

[toolchanger]
  t_command_restore_axis: Z

  # --- Sensorless Homing Options ---
  # NOTE: AWD the front motors will be set to 0.1 automatically
  homing_current: 0.8
  stepper_driver: tmc5160
  sensorless_x: False
  sensorless_y: False

  # --- Homing Options ---
  homing_usetap: True
  homing_toolless: False
  homing_rebound_y: 1

  # --- Docking Options ---
  params_safe_y: 90         # Thickness of thickest tool from park_y
  params_close_y: 25        # Thickness of shuttle + buffer
  params_fast_speed: 30000  # Maximum travel speed
  params_path_speed: 2400   # 20mm/s for the actual change
  params_changer_type: 'sc'       # sc, tc_pads, tc_rods
  params_dock_type: 'modular'     # modular, tc_sb, tc_mini, hookon

  # --- Change Paths (do not modify unless you know what you are doing) ---
  # Full path order for drop off: dock_path -> f:0.5 (park location + sensor) -> changer_path
  params_changer_sc_path: [{'z':-8}, {'z':-8, 'y':24}]
  params_changer_tc_pads_path: [{'z':-5}, {'y':1, 'z':-7}, {'y':3, 'z':-9}, {'y':7, 'z':-11}]
  params_changer_tc_rods_path: [{'z':-6}, {'z':-10, 'y':3}, {'z':-10, 'y':16}]
  params_dock_modular_path: [{'y':3, 'z':3}]
  params_dock_tc_sb_path: [{'y':9.5, 'z':8}, {'y':9.5, 'z':2}, {'y':5.5}]
  params_dock_tc_mini_path: [{'y':9, 'z':2}, {'y':8}]
  params_dock_hookon_path: [{'y':4}]

  # --- Default Input Shaper ---
  params_input_shaper_freq_x: 0
  params_input_shaper_type_x: 'mzv'
  params_input_shaper_damping_ratio_x: 0.1
  params_input_shaper_freq_y: 0
  params_input_shaper_type_y: 'mzv'
  params_input_shaper_damping_ratio_y: 0.1

  # --- Initialization ---
  initialize_on: manual
  initialize_gcode:
    DETECT_ACTIVE_TOOL_PROBE
    _INITIALIZE_FROM_DETECTED_TOOL

  # --- Tool Change Callbacks ---
  before_change_gcode:
    {% if tool.name %}
      RESPOND TYPE=echo MSG='Before changing {tool.name}'
      _TOOLCHANGER_TOOL_BEFORE_CHANGE TN={tool.name|replace('tool ', '', 1)}
    {% endif %}

  after_change_gcode:
    {% if tool.name %}
      RESPOND TYPE=echo MSG='After changing {tool.name}'
      _TOOLCHANGER_TOOL_AFTER_CHANGE TN={tool.name|replace('tool ', '', 1)}
    {% endif %}

  dropoff_gcode:
    {% if tool.name %}
      RESPOND TYPE=echo MSG='Dropping off {tool.name}'
      _TOOLCHANGER_TOOL_DROPOFF TN={tool.name|replace('tool ', '', 1)}
    {% endif %}

  pickup_gcode:
    {% if tool.name %}
      RESPOND TYPE=echo MSG='Picking up {tool.name}'
      _TOOLCHANGER_TOOL_PICKUP TN={tool.name|replace('tool ', '', 1)}
    {% endif %}
