#####################################################################
#   KTAMV Camera Alignment Macros
#####################################################################
# Klipper Tool Alignment using Machine Vision


[gcode_macro CALIB_CAMERA_KTAMV]
gcode:
  KTAMV_CALIB_CAMERA

[gcode_macro FIND_NOZZLE_CENTER_KTAMV]
gcode:
  KTAMV_FIND_NOZZLE_CENTER

[gcode_macro SET_ORIGIN_KTAMV]
gcode:
  KTAMV_SET_ORIGIN

[gcode_macro MOVE_TO_ORIGIN_KTAMV]
gcode:
  {% if 'xy' not in printer.toolhead.homed_axes%}
      RESPOND PREFIX="info" MSG="Printer not homed."
  {% elif printer.ktamv.camera_center_coordinates[0]|default("none")|lower =="none" %}
      RESPOND PREFIX="info" MSG="Camera center coordinates not set."
  {% else %}
    G0 X{printer.ktamv.camera_center_coordinates[0]} Y{printer.ktamv.camera_center_coordinates[1]}
  {% endif %}

[gcode_macro SIMPLE_NOZZLE_POSITION_KTAMV]
gcode:
  KTAMV_SIMPLE_NOZZLE_POSITION

[gcode_macro GET_OFFSET_KTAMV]
gcode:
  KTAMV_GET_OFFSET
  PRINT_OFFSET_KTAMV

[gcode_macro PRINT_OFFSET_KTAMV]
gcode:
  {action_respond_info("Macro example found offset X:"~printer.ktamv.last_calculated_offset[0]~" Y:"~printer.ktamv.last_calculated_offset[1])}

[gcode_macro SEND_SERVER_CFG_KTAMV]
gcode:
  KTAMV_SEND_SERVER_CFG

[gcode_macro STOP_PREVIEW_KTAMV]
gcode:
  KTAMV_STOP_PREVIEW

[gcode_macro START_PREVIEW_KTAMV]
gcode:
  KTAMV_START_PREVIEW


#####################################################################
#   Automatic Tool Alignment
#####################################################################

[gcode_macro ktool_align_macro]
description = Aligns all tools using KTAMV camera
gcode:
    # Constants - customize these for your setup:
    {% set VAR_CAMERA_CENTER_COORDINATES = [ 16.5, 3.5]  %}
    {% set VAR_TOOL_TO_USE_FOR_CALIBRATION = 0  %}
    {% set VAR_TOOL_TO_USE_AS_REFERENCE = 0  %}
    {% set VAR_TOOLS_TO_ALIGN = [ 1 ] %}

    {% if 'xy' not in printer.toolhead.homed_axes%}
        RESPOND PREFIX="info" MSG="Printer not homed."
    {% elif printer.ktamv.camera_center_coordinates[0]|default("none")|lower =="none" or printer.ktamv.mm_per_pixels|default("none")|lower == "none"%}
        KTAMV_SEND_SERVER_CFG
        T{VAR_TOOL_TO_USE_FOR_CALIBRATION}
        G0 X{VAR_CAMERA_CENTER_COORDINATES[0]} Y{VAR_CAMERA_CENTER_COORDINATES[1]} Z38 F{printer.ktamv.travel_speed}
        M400
        KTAMV_CALIB_CAMERA
        T{VAR_TOOL_TO_USE_AS_REFERENCE}
        G0 X{VAR_CAMERA_CENTER_COORDINATES[0]} Y{VAR_CAMERA_CENTER_COORDINATES[1]} F{printer.ktamv.travel_speed}
        KTAMV_FIND_NOZZLE_CENTER
        _tool_align_macro_set_origin_if_successful
    {% endif %}

    {% for tool in VAR_TOOLS_TO_ALIGN %}
        RESPOND PREFIX="info" MSG="-Aligning tool T{tool}"
        _tool_align_macro_align_tool TOOL={tool}
    {% endfor %}

[gcode_macro _tool_align_macro_set_origin_if_successful]
gcode:
    {% if printer.ktamv.last_nozzle_center_successful|default("false")|lower =="true" %}
        KTAMV_SET_ORIGIN
    {% endif %}

[gcode_macro _tool_align_macro_align_tool]
gcode:
    {% set TOOL = params.TOOL %}
    {% if printer.ktamv.camera_center_coordinates[0]|default("none")|lower !="none" and printer.ktamv.mm_per_pixels|default("none")|lower != "none" and 'xy' in printer.toolhead.homed_axes%}
        RESPOND PREFIX="info" MSG="Aligning tool T{TOOL}"
        T{TOOL}
        G0 X{printer.ktamv.camera_center_coordinates[0]} Y{printer.ktamv.camera_center_coordinates[1]} F{printer.ktamv.travel_speed}
        KTAMV_FIND_NOZZLE_CENTER
        KTAMV_GET_OFFSET
        _tool_align_macro_save_offset TOOL={TOOL}
    {% else %}
        RESPOND PREFIX="info" MSG="Camera not calibrated or origin not set. Please run the macro again."
    {% endif %}

[gcode_macro _tool_align_macro_save_offset]
gcode:
    {% set TOOL = params.TOOL %}
    {% if printer.ktamv.last_nozzle_center_successful|default("false")|lower =="true" %}
        {action_respond_info("Macro example saving offset X:"~printer.ktamv.last_calculated_offset[0]~" Y:"~printer.ktamv.last_calculated_offset[1]~" for tool T"~TOOL)}
    {% endif %}
