#####################################################################
#   Heated Bed
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 125
# PID values are auto-calibrated and stored in SAVE_CONFIG at the
# bottom of printer.cfg


#####################################################################
#   Quad Gantry Leveling
#####################################################################

[quad_gantry_level]
speed: 500
max_adjust: 10
horizontal_move_z: 9
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25


#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 320, 320
probe_count: 5, 5
