#####################################################################
#   Daylight LEDs
#####################################################################

[neopixel daylight]
pin: PB0
chain_count: 36
color_order: GRB


#####################################################################
#   Chamber Temperature Sensor
#####################################################################

[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin: PF4


#####################################################################
#   Electronics Bay Fan
#####################################################################

[controller_fan electronics_fan_right]
pin: PA8
fan_speed: 1.0
heater: extruder, heater_bed
stepper:


#####################################################################
#   Nevermore Carbon Filter Fan
#####################################################################

[heater_fan nevermore]
pin: PD12
heater: heater_bed
heater_temp: 60
