#####################################################################
#   MCU (Mainboard)
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1A003C001251373234333632-if00
