#####################################################################
#   Filament Load / Unload Macros
#####################################################################


[gcode_macro LOAD_FILAMENT]
gcode:
  M117 Loading
  M104 S240
  G90
  G1 X100 Y00 Z90 F1800
  M104 S240
  TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM=240
  M83
  G1 E50 F300
  G1 E50 F300
  G1 E-4 F1800
  M82
  M400
  M104 S0
  M117 Loading done


[gcode_macro UNLOAD_FILAMENT]
gcode:
  M117 Unloading
  M104 S240
  TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM=240
  M83
  G1 E5 F500
  G1 E-50 F1000
  G1 E-50 F1000
  M82
  M400
  TURN_OFF_HEATERS
  M117 Unloading done


[gcode_macro UNLOAD_ONE_FILAMENT]
gcode:
  M117 Unloading {params.TOOL}
  M109 T{params.TOOL} S240
  {% set start_extruder = printer.toolhead.extruder %}
  {% set tool_name = printer.toolchanger.tool_names[params.TOOL|int] %}
  {% set extruder = printer[tool_name].extruder %}
  M104 T{params.TOOL} S240
  TEMPERATURE_WAIT SENSOR={extruder} MINIMUM=240
  ACTIVATE_EXTRUDER EXTRUDER={extruder}
  M83
  G1 E5 F500
  G1 E-50 F1000
  G1 E-50 F1000
  M82
  M400
  TURN_OFF_HEATERS
  ACTIVATE_EXTRUDER EXTRUDER={start_extruder}
  M117 Unloading done


[gcode_macro UNLOAD_ALL_FILAMENT]
gcode:
  {% set start_extruder = printer.toolhead.extruder %}
  {% set tools = printer.toolchanger.tool_names %}
  M117 Unloading
  {% for tool in tools %}
    M104 T{printer[tool].tool_number} S240
  {% endfor %}
  {% for tool in tools %}
    M109 T{printer[tool].tool_number} S240
    ACTIVATE_EXTRUDER EXTRUDER={printer[tool].extruder}
    M83
    G1 E5 F500
    G1 E-50 F1000
    G1 E-50 F1000
  {% endfor %}
  M400
  M82
  TURN_OFF_HEATERS
  ACTIVATE_EXTRUDER EXTRUDER={start_extruder}
  M117 Unloading done


[gcode_macro CHANGE_NOZZLE]
gcode:
  M117 Nozzle change
  M104 S240
  G90
  G1 X175 Y0 Z100 F1800
  M109 S240
  M83
  G1 E5 F250
  G1 E-50 F1000
  M82
  M117 Ready to swap
