#####################################################################
#   Utility Macros
#####################################################################


[gcode_macro CLEAN_NOZZLE]
gcode:
    ;_TOOLCHANGER_CLEAN_NOZZLE


[gcode_macro TOOLCHANGE_DEMO]
description: [SAMPLES=<int>] Run random tool changes. SAMPLES= Number of changes, default 20.
gcode:
    {% set t = params.SAMPLES|default(20)|int %}
    {% for n in range(t) %}
      T{ printer.toolchanger.tool_numbers | random }
    {% endfor %}


[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G28 Z


[gcode_macro PRINT_STATUS]
gcode:
  {% set obj = params.OBJ %}
  RESPOND TYPE=echo MSG="Status for M190 {obj} is { printer[obj] }"


[gcode_macro UNSAFE_LOWER_BED]
description: Lower the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=100
  G0 Z0 F600
  M84


[gcode_macro UNSAFE_RAISE_BED]
description: Raise the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z100 F600
  M84


[gcode_macro TEST_SPEED]
# Include the full TEST_SPEED macro from the separate file
# if you need the extended speed test macro.
gcode:
    RESPOND TYPE=echo MSG="Use the full TEST_SPEED.cfg for extended speed testing"
