#####################################################################
#   Toolhead 0 (T0) - EBB36 CAN Bus
#####################################################################


#####################################################################
#   MCU
#####################################################################

[mcu EBB_TH00]
canbus_uuid: 60349b2e63f0


#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBB_TH00: PD0
dir_pin: EBB_TH00: PD1
enable_pin: !EBB_TH00: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 10
max_extrude_only_distance: 150
heater_pin: EBB_TH00: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBB_TH00: PA3
control: pid
pid_Kp: 23.164
pid_Ki: 1.276
pid_Kd: 105.109
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: EBB_TH00: PA15
run_current: 0.650
stealthchop_threshold: 999999


#####################################################################
#   Fans
#####################################################################

[fan_generic TH00_partfan]
pin: EBB_TH00: PA1

[heater_fan TH00_hotend_fan]
pin: EBB_TH00: PA0
heater: extruder
heater_temp: 50.0


#####################################################################
#   Tool Definition
#####################################################################

[tool TH00]
tool_number: 0
extruder: extruder
fan: fan_generic TH00_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_park_x: 8.7
params_park_y: 2.0
params_park_z: 339.0
params_close_y: 30.0
params_safe_y: 120.0
params_input_shaper_freq_x: 51.4
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_y: 43.0
params_input_shaper_type_y: 'ei'


#####################################################################
#   Probe (Tap)
#####################################################################

[tool_probe T0]
pin: ^EBB_TH00: PB9
tool: 0
z_offset: -0.710
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
  _TAP_PROBE_ACTIVATE HEATER=extruder TEMP=150


#####################################################################
#   Accelerometer
#####################################################################

[adxl345 TH00]
cs_pin: EBB_TH00: PB12
spi_software_sclk_pin: EBB_TH00: PB10
spi_software_mosi_pin: EBB_TH00: PB11
spi_software_miso_pin: EBB_TH00: PB2
axes_map: x,y,z


#####################################################################
#   Filament Sensor
#####################################################################

[filament_switch_sensor filament_sensor_TH00]
switch_pin: !EBB_TH00: PB4
pause_on_runout: FALSE
runout_gcode:
  M117 Runout sensor TH00 reports: Runout
  SET_GCODE_VARIABLE MACRO=TH00 VARIABLE=filament_consumed VALUE=1
insert_gcode:
  M117 Runout sensor TH00 reports: Filament Detected
  SET_GCODE_VARIABLE MACRO=TH00 VARIABLE=filament_consumed VALUE=0


#####################################################################
#   Tool Selection Macros
#####################################################################

[gcode_macro TH00]
variable_active: 0
variable_filament_consumed: 0
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    _TOOLCHANGER_DISABLE_FILAMENT_SENSORS
    SET_GCODE_VARIABLE MACRO=TH00 VARIABLE=active VALUE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SELECT_TOOL T=0
  {% endif %}

[gcode_macro T0]
variable_realtool: "TH00"
variable_backuptool: "T1"
variable_color: ""
variable_spool_id: None
gcode:
  SET_ACTIVE_SPOOL ID={ printer['gcode_macro T0'].spool_id }
  {% set consumed = printer["gcode_macro " ~ realtool].filament_consumed|int %}
  {% if consumed and backuptool %}
    { action_respond_info(realtool ~ " empty loading backup") }
    {backuptool}
  {% else %}
    { action_respond_info("Switching to " ~ realtool) }
    {realtool}
  {% endif %}
